*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.d1{
   height: 100vh;
   width: 100%; 
}

a{
    text-decoration: none;
}
.logo{
    position: absolute;
    left: 90px;
    top: 50px;
}
.logo a {
    text-shadow:2px 2px 30px rgba(0,0,0,0.2) ;
    font-weight: bold;
    color: #2f2f2f;
    font-size: 2rem;
    letter-spacing: 1;
}
.search{
    position: fixed;
    right: 18px;
    top: 50px;
    width: 170px;
    height: 45px;
   background-color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10% 10% 10% 10% / 50% 50% 50% 50% ;
   box-shadow: 2px 2px 30px rgba(167,158,245,0.2);
   box-sizing: border-box ;
   z-index: 1;
   border: 1px solid  rgba(167,158,245,0.2);

}
.search1 input{
   width: 90px;
   height: 20px;
   border: none;
   outline: none;
   background: color #1f1f1f;
   font-size: 1rem;
   padding: 0px 10px;

}
.search1 input::placeholder{
    color: #1d1d1d;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-family: poppins ;
}
.seaction{
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(-15%,-50%) ;
}
.seaction img{
    height: 300px;
    margin-top: -160px;
}

.ppp{
    margin-bottom: -150px;
    margin-left: -100px;
}
.button{
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-90%,-50%);
}
.button h1,h2{
    font-family: Roboto ;
    font-weight: bold;
    margin: 0px;
    line-height: 60px;
    font-size: 4rem;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.08);
    letter-spacing: 3px;
    color: #3d3d3d;
    text-transform: uppercase;
}
span{
    color: #7a72ff;
}
.button h1{
    letter-spacing:35px;
}
.btn1{
    width: 150px;
    height: 40px;
    background-color: #2f2e41;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%  10% 10% 10% / 50% 50% 50% 50%;
    font-family: calibri ;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 1.05rem;
    cursor: pointer;
    outline: none;
    border: transparent !important;
}
.btn1:hover{
    color: #fff;
    background-color: #7a72ff;
    transition:all ease 0.05s;
}
.icon{
    position: fixed;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    padding: 5px 0px;
    z-index: 1;
}

.icon a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
}
.icon a i{
    color: rgba(87, 78, 78, 0.856);
} 

.icon a:hover .fa-facebook{
    color: #3329f3;
}
.icon a:hover .fa-twitter{
    color: #34ccfa;
}
.icon a:hover .fa-instagram{
    color: #4394e0;
}
.icon a:hover .fa-youtube{
    color: #ff1b1b;
}


.productsection{
    width: 85%;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(167,158,245,0.2);
    display: flex;
    margin: 30px auto;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    margin-top: -60px;
    position: relative;
    background-size: 1000px;
    border-radius: 10px;
}
.productsection > h3{
    margin: 20px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.05);
    font-family: myrid pro ;
    font-weight: 700;
    font-size: 2rem;
    color: #323543;
}
.products{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0px;
  width: 100%;
}
.productsbox{
    width: 350px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 8px;
    margin: 10px 30px;
}
.productsbox img {
    height: 180px;
}
.productsbox p{
    color: #4d4d4d70;
    font-family: myriad pro ;
    font-size: 0.9rem;
    letter-spacing: 0.5;

}
.productsbox a{
    color: #2c2c2c;
    font-family: poppins;
    font-size: 1rem;
}

.baybtn{
   position: absolute;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: calibri ;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    border-radius: 15% 15% 15% 15% / 50% 50% 50%  50% ;
    background: linear-gradient(120deg,#6b60ec,#a166f4);
    color: #ffffff;
    display: none;
    animation: fade 0.2s;
}
.productsbox:hover .baybtn{
    display: flex;
}

.productsbox:hover{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
}
.productsbox:hover a:last-child{
    color: #ffffff;
    transition: all ease 0.3s;
}

.about{
    display: flex;
    width: 85%;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-bottom: 150px;
}
.aboutbox{
    width: 40%;
    font-family: myriad pro;
}
.aboutbox img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.aboutbox h1{
    color: #333333;
    font-weight: 700;
    font-size: 3rem;
    margin: 0px;
}
.aboutbox h4{
    color: #333333;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.aboutbox p{
    font-size: 1rem;
    color:#c9c4c4;
    letter-spacing: 0.5px;
}

.notifaction{
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notifaction h1{
    font-size: 2rem;
    color:rgb(56, 56, 56);
}
.notificaioninput{
    width: 500px;
    background-color: #fff;
    border-radius: 7% 7% 7% 7% / 50% 50% 50%  50%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    box-shadow: 2px 5px 30px rgba(0,0,0,0.1);
    margin-top: 30px;
}
.notificaioninput input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
}
.noticationbutton{
    width: 120px;
    height: 40px;
    background-color: #202020;
    border-radius: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    font-size: 1rem;
}
.noticationbutton:hover{
    background-color: #6b60ec;
    transition: all ease 0.5s;
}
footer{
    background-color: black !important;
    padding: 20px ;
}

footer p{
    text-align: center;
    color: #fff
}


/*---Mobile View*/


@media (max-width:851px){
    .logo{
        left: 35px;
    }
    .seaction img{
        height: 100px;
    }
    .button h1 {
        letter-spacing: 3px;
    }
    .button h1, h2 {
        font-family: Roboto;
        font-weight: bold;
        margin: -5px;
        line-height: 26px;
        font-size: 1rem;
        letter-spacing: 3px;
        margin-left: 200px;
    }
    .btn1{
        margin-left: 200px;
        width: 105px;
        height: 34px;
    }
    .productsection {
        width: 108%;
    }
    .about{
        width: 100%;
    }
    .notifaction h1 {
        font-size: 1rem;
    }
    .notificaioninput{
        width:385px ;
        height: 39px;
        padding: 12px 19px;
        margin-top: 24px ;
        margin-left: 50px;
    }
   
    hr{
        width: 117%;
    }
    footer{
        width: 108%;
    }
}

